@font-face {
  font-family: 'Lumen-Icon-Font';
  src:  url('../font/Lumen-Icon-Font/fonts/Lumen-Icon-Font.eot?uyv0dd');
  src:  url('../font/Lumen-Icon-Font/fonts/Lumen-Icon-Font.eot?uyv0dd#iefix') format('embedded-opentype'),
    url('../font/Lumen-Icon-Font/fonts/Lumen-Icon-Font.ttf?uyv0dd') format('truetype'),
    url('../font/Lumen-Icon-Font/fonts/Lumen-Icon-Font.woff?uyv0dd') format('woff'),
    url('../font/Lumen-Icon-Font/fonts/Lumen-Icon-Font.svg?uyv0dd#Lumen-Icon-Font') format('svg');
  font-weight: normal;
  font-style: normal;
}

.abs-icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Lumen-Icon-Font' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.abs_info_point:before {
  content: "\e90c";
}
.abs_launch:before {
  content: "\e90d";
}
.abs_clear_filter:before {
  content: "\e90b";
}
.abs_settings_panel:before {
  content: "\e900";
}
.abs_warehouse_files:before {
  content: "\e902";
}
.abs_warehouse_sale_promo:before {
  content: "\e903";
}
.abs_user_data:before {
  content: "\e906";
}
.abs_user_files:before {
  content: "\e907";
}
.abs_trend_same:before {
  content: "\e901";
}
.abs_trend_down:before {
  content: "\e908";
}
.abs_trend_up:before {
  content: "\e90a";
}
.abs_bootstrap:before {
  content: "\e904";
}
.abs_kendo:before {
  content: "\e905";
}
.abs_check_circle:before {
  content: "\e86c";
}
.abs_add:before {
  content: "\e145";
}
.abs_add_alert:before {
  content: "\e003";
}
.abs_add_box:before {
  content: "\e146";
}
.abs_add_circle:before {
  content: "\e147";
}
.abs_control_point:before {
  content: "\e3ba";
}
.abs_archive:before {
  content: "\e149";
}
.abs_arrow_back:before {
  content: "\e5c4";
}
.abs_arrow_downward:before {
  content: "\e5db";
}
.abs_arrow_drop_down:before {
  content: "\e5c5";
}
.abs_arrow_drop_down_circle:before {
  content: "\e5c6";
}
.abs_arrow_drop_up:before {
  content: "\e5c7";
}
.abs_arrow_forward:before {
  content: "\e5c8";
}
.abs_arrow_upward:before {
  content: "\e5d8";
}
.abs_poll:before {
  content: "\e801";
}
.abs_assignment_ind:before {
  content: "\e85e";
}
.abs_assignment_turned_in:before {
  content: "\e862";
}
.abs_attach_file:before {
  content: "\e226";
}
.abs_beenhere:before {
  content: "\e52d";
}
.abs_bug_report:before {
  content: "\e868";
}
.abs_phone:before {
  content: "\e0cd";
}
.abs_cancel:before {
  content: "\e5c9";
}
.abs_chat:before {
  content: "\e0b7";
}
.abs_chat_bubble:before {
  content: "\e0ca";
}
.abs_check:before {
  content: "\e5ca";
}
.abs_navigate_before:before {
  content: "\e408";
}
.abs_navigate_next:before {
  content: "\e409";
}
.abs_close:before {
  content: "\e5cd";
}
.abs_clear_all:before {
  content: "\e0b8";
}
.abs_comment:before {
  content: "\e0b9";
}
.abs_mode_edit:before {
  content: "\e254";
}
.abs_delete_sweep:before {
  content: "\e16c";
}
.abs_directions_car:before {
  content: "\e531";
}
.abs_not_interested:before {
  content: "\e033";
}
.abs_remove_circle:before {
  content: "\e15c";
}
.abs_done:before {
  content: "\e876";
}
.abs_done_all:before {
  content: "\e877";
}
.abs_markunread:before {
  content: "\e159";
}
.abs_equalizer:before {
  content: "\e01d";
}
.abs_error:before {
  content: "\e000";
}
.abs_error_outline:before {
  content: "\e001";
}
.abs_insert_invitation:before {
  content: "\e24f";
}
.abs_event_available:before {
  content: "\e614";
}
.abs_event_busy:before {
  content: "\e615";
}
.abs_event_note:before {
  content: "\e616";
}
.abs_expand_less:before {
  content: "\e5ce";
}
.abs_expand_more:before {
  content: "\e5cf";
}
.abs_get_app:before {
  content: "\e884";
}
.abs_file_upload:before {
  content: "\e2c6";
}
.abs_flash_on:before {
  content: "\e3e7";
}
.abs_question_answer:before {
  content: "\e8af";
}
.abs_functions:before {
  content: "\e24a";
}
.abs_g_translate:before {
  content: "\e927";
}
.abs_people:before {
  content: "\e7fb";
}
.abs_help:before {
  content: "\e887";
}
.abs_help_outline:before {
  content: "\e8fd";
}
.abs_local_hotel:before {
  content: "\e549";
}
.abs_import_export:before {
  content: "\e0c3";
}
.abs_inbox:before {
  content: "\e156";
}
.abs_indeterminate_check_box:before {
  content: "\e909";
}
.abs_info:before {
  content: "\e88e";
}
.abs_info_outline:before {
  content: "\e88f";
}
.abs_insert_comment:before {
  content: "\e24c";
}
.abs_insert_drive_file:before {
  content: "\e24d";
}
.abs_live_help:before {
  content: "\e0c6";
}
.abs_local_airport:before {
  content: "\e53d";
}
.abs_shopping_cart:before {
  content: "\e8cc";
}
.abs_local_library:before {
  content: "\e54b";
}
.abs_local_offer:before {
  content: "\e54e";
}
.abs_more_horiz:before {
  content: "\e5d3";
}
.abs_more_vert:before {
  content: "\e5d4";
}
.abs_move_to_inbox:before {
  content: "\e168";
}
.abs_notifications:before {
  content: "\e7f4";
}
.abs_notifications_active:before {
  content: "\e7f7";
}
.abs_notifications_off:before {
  content: "\e7f6";
}
.abs_person:before {
  content: "\e7fd";
}
.abs_pin_drop:before {
  content: "\e55e";
}
.abs_playlist_add:before {
  content: "\e03b";
}
.abs_playlist_play:before {
  content: "\e05f";
}
.abs_public:before {
  content: "\e80b";
}
.abs_redo:before {
  content: "\e15a";
}
.abs_refresh:before {
  content: "\e5d5";
}
.abs_remove:before {
  content: "\e15b";
}
.abs_remove_circle_outline:before {
  content: "\e15d";
}
.abs_visibility:before {
  content: "\e8f4";
}
.abs_repeat:before {
  content: "\e040";
}
.abs_replay:before {
  content: "\e042";
}
.abs_warning2:before {
  content: "\e002";
}
.abs_send:before {
  content: "\e163";
}
.abs_settings:before {
  content: "\e8b8";
}
.abs_textsms:before {
  content: "\e0d8";
}
.abs_subdirectory_arrow_left:before {
  content: "\e5d9";
}
.abs_subdirectory_arrow_right:before {
  content: "\e5da";
}
.abs_swap_horiz:before {
  content: "\e8d4";
}
.abs_swap_vert:before {
  content: "\e8d5";
}
.abs_thumb_up:before {
  content: "\e8dc";
}
.abs_translate:before {
  content: "\e8e2";
}
.abs_unarchive:before {
  content: "\e169";
}
.abs_verified_user:before {
  content: "\e8e8";
}
.abs_visibility_off:before {
  content: "\e8f5";
}
.abs_folder:before {
  content: "\e2c7";
}
.abs_power_settings_new:before {
  content: "\e8ac";
}
.abs_keyboard_arrow_left:before {
  content: "\e314";
}
.abs_keyboard_arrow_right:before {
  content: "\e315";
}
.abs_input:before {
  content: "\e890";
}
.abs_menu:before {
  content: "\e3c7";
}
.abs_download:before {
  content: "\e885";
}
.abs_highlight_off:before {
  content: "\e888";
}
.abs_exclamation_triangle:before {
  content: "\f071";
}
.abs_angle_double_left:before {
  content: "\f100";
}
.abs_angle_double_right:before {
  content: "\f101";
}
.abs_long_arrow_left:before {
  content: "\f177";
}
.abs_long_arrow_right:before {
  content: "\f178";
}
.abs_star:before {
  content: "\f005";
}
.abs_star_o:before {
  content: "\f006";
}
.abs_angle_left:before {
  content: "\f104";
}
.abs_angle_right:before {
  content: "\f105";
}
.abs_angle_up:before {
  content: "\f106";
}
.abs_angle_down:before {
  content: "\f107";
}
.abs_life_ring:before {
  content: "\f1cd";
}
.abs_search:before {
  content: "\f002";
}
.abs_check2:before {
  content: "\f00c";
}
.abs_cog:before {
  content: "\f013";
}
.abs_clock_o:before {
  content: "\f017";
}
.abs_share_square_o:before {
  content: "\f045";
}
.abs_arrow_up:before {
  content: "\f062";
}
.abs_filter:before {
  content: "\f0b0";
}
.abs_calendar_o:before {
  content: "\f133";
}

