$primary-black: #000;
$light-black: #202326;
$primary-blue: #01a7ed;
$primary-hover-blue: #0496D6;
$primary-gray: #fbfbfb;

$font-gray: #a7acb4;

$border-gray: #c6c6c6;

.c-blue {
	color: $primary-blue;
}